<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>All Users</title>
</head>
<body>

<br>
<form th:action="@{/create_user}" th:method="GET">
  <button type="submit">Add user </button>
</form>

<br>

<table border="2">All users
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Email</th>
    <th>Delete</th>
    <th>Update</th>
  </tr>
  <tr th:each="u : ${allUsers}">
    <td th:text="${u.getId()}"></td>
    <td th:text="${u.getName()}"></td>
    <td th:text="${u.getEmail()}"></td>
    <td><a th:href="@{/delete(id=${u.id})}">delete</a>
    <td><a th:href="@{/update_user(id=${u.id})}">update</a>

  </tr>

</table>

</body>
</html>